.resume {

    .info-section {
        width: 20%;
    }
    
   .content-area {
       margin-left: 20%;
       width: 80%;
       min-width: 300px;
       background: white; 
       height: 100%;
        padding: 56px;

        .xp-box {
            padding: 25px 20px;
            -webkit-box-shadow: 20px 7px 30px -34px rgba(0,0,0,0.65);
-moz-box-shadow: 20px 7px 30px -34px rgba(0,0,0,0.65);
box-shadow: 20px 7px 30px -34px rgba(0,0,0,0.65);
        }
       
       h1 {
           font-weight: 700;
           font-size: 26px;
           text-transform: uppercase;
           letter-spacing: 1px;
           padding-bottom: 20px;
       }
       h5 {
           font-weight: 600;
           font-size: 15px;
            padding-bottom: 15px;
           text-transform: uppercase;
       }

       p {
           font-size: 14px;
        text-transform: uppercase;
       }
       .xp-section {
           
               display: grid;
               grid-template-columns: 1fr 1fr;
               
           
       }
      } 
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 767px) {
    html, body {
        height: auto;
    }
    .resume {
        .menu-icon{
            top: -3px;
            color: white;
            right: 20px;
            position: absolute;

            .fas {
                color: white;

            }
        }

      
        .info-section{
          
            padding: 10px 20px;
            position: static;

            .logo {
                height: 50px;
                width: 80px;
                font-size: 20px;
                border-width: 3px;
            }
            .info-box{
               display: none; 
            }
        }
        .content-area {
            margin-left: 0;
            width: 100%;
           
            &:after{
                content: "";
                display: table;
                clear: both;
            }
            .scroll-section {
                padding: 50px 20px;
                width: 100%;
                height: auto;
                overflow: auto;
            }
            .category {
              width: 100%;
              .xp-section{
                  grid-template-columns: 1fr;
              }
            }
        }
    }
 }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px)  and (max-width: 991px)  {

    .info-section {
        width: 30%;
        padding: 56px 20px;
        .icon-section a{
            font-size: 15px;
            width: 30%;
            a{}
        }
    } 
    .resume {
        .content-area {
            
          margin-left: 30%;

            &:after{
                content: "";
                display: table;
                clear: both;
            }

     
            .resume-section{
              
                width: 70%;
                float: right;
                padding: 20% 20px 0;
                max-width: 800px;
               

            }
         
        }
    }
    
  
  }

// Large devices (desktops, 992px to 1199px)
@media (min-width: 992px) and (max-width: 1199px) { 
  

    .resume {
        .content-area {
           
            margin-left: 30%;

            &:after{
                content: "";
                display: table;
                clear: both;
            }

            .resume-section{
                width: 70%;
                float: left;
                
             padding: 20% 60px 0;
             max-width: 800px;
            }

           
        }
    }
}


@media (min-width: 1200px)  {

    .resume {
        .info-section {
            padding: 56px 30px;
        }
     
        .content-area {

            .resume-section{
                width: 70%;
                float: left;
                padding: 20% 60px 0;
                max-width: 800px;

       
            }
        }
    }
    
 }

 @media (min-width: 1500px)  {

    .resume {
     
        .content-area {

            .resume-section{
                width: 70%;
                float: left;
                padding: 20% 60px 0;
                max-width: 800px;

       
            }
        }
    }
    
 }