$purple: #6A08E6;

$purple2: #9A00DE;

$blue: #4b21ff;

$pink: #F9D9FF;

$raspberry: #BF0A7E;

$periwinkle: #C0C8FF;

$black: #272727;

$white: #fefefe;

$grey:  #a9a9a9;

$lightgrey: #bdbdbd;

$aqua: #8aebd8;

$aqua2: #7EFFE6;


